<template>
  <div>
    <div class="col-12 py-5">
      <p>
        This website started as a little tool for myself, and ended become a bit of an exploration
        of CI/CD and best practices and whatnot. I will add features like pagination and search by
        color, CMC, etc. but I want to have this tiny application completely tested and upto
        industry standard best practices before continuing.
      </p>
      <p>
        I decided to keep it open source, so if you want to clone the repo and bugfix or add a
        feature, or even just poke around the code, head on over. Merge requests are always welcome
        and there are instructions in the README.md to get you up and running in a minute or two.
        Three tops!
      </p>
      <p>
        I will eventually get around to a 'best practices for merge requests' doc, but today is
        not that day!
      </p>
    </div>
    <a target="_blank" href="https://gitlab.com/petermulligan88/mtg-standard-reprints">
        GitLab Repository
      </a>
  </div>
</template>
