<template>
  <div class="col-12 py-5">
    <div >
      <p>
        Below is a list of all the cards that are currently legal in 'Magic the Gathering: Standard
        Format', and also have printings in older sets. I made it as a tool for myself to see are
        there any cards from sets I used to play.
      </p>
    </div>
    <div v-if="cards.length" class="row">
      <div v-for="card in cards" :key="card.id" class="col-xs-12 col-sm-6 col-md-4">
        <card :card="card"></card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Card from '../components/Card.vue';

export default {
  name: 'home',
  components: { card: Card },
  computed: {
    ...mapGetters(['cards']),
  },
  async created() {
    await this.$store.dispatch('fetchCards');
  },
};
</script>
