<template>
  <div data-test="card" id="card" class="row py-3 pl-3 m-2">
    <img data-test="img" v-if="details" class="col-xs-12 col-sm-6 col-lg-4 mx-auto"
      :src="details.image_uris.small" />
    <div data-test="detail" class="col-xs-12 col-sm-6 col-lg-8 mt-sm-3">
      <h5 data-test="name">{{card.name}}</h5>
      <p data-test="reprints">{{card.printings.length}}<span><small> reprints</small></span></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'card',
  props: ['card'],
  data() {
    return {
      details: null,
    };
  },
  methods: {
    async getCard(name) {
      await this.axios.get(`https://api.scryfall.com/cards/named?exact=${name}`)
        .then(({ data }) => {
          this.details = data;
        });
      // TODO: Add catch when error msg system is in place.
    },
  },
  created() {
    this.getCard(this.card.name);
  },
};
</script>

<style lang="scss" scoped>
#card {
  background-color: #fffcfc;
  box-shadow: 0 6px 2px -2px lightgray;
  border-radius: .15rem;
}
img {
  display: block;
  width: auto;
  height: auto;
}
</style>
