<template>
  <div id="app" data-test="app">
    <nav class="row">
      <span class="logo">
        <img id="logo" class="ml-4 mt-2" alt="Mtg logo" src="./assets/img/logo.png">
      </span>
      <div class="mx-auto pt-3">
        <router-link class="mx-5 mt-3" to="/">Reprints</router-link>
        <router-link class="mx-5 mt-3" to="/about">About</router-link>
      </div>
    </nav>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
html {
  background-color: #edede6;
}
#app {
  background-color: #edede6;
  font-family: 'Alfa Slab One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#logo {
  height: 2.5rem;
}
.logo {
  position: absolute;
  left: 1rem;
}
nav {
  background-color: #fffcfc;
  height: 3.5rem;
  box-shadow: 0 6px 2px -2px lightgray;

  a {
    color: #2c3e50;
    &:hover {
      color: #E2BF7C;
    }
  }
}

</style>
